*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	background-color: #eee;
	line-height: 1.3;
}


/*Utilities*/

.container {
	width: 100%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.my-4 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.mb-3 {
	margin-bottom: 1rem;
}

/*END of utilities*/

/*Header*/
header {
	color: #fff;
	background-color: #57a7e7;
	padding: 1em 1.5em;
}

.brand-logo {
	width: 50px;
	vertical-align: middle;
}

.brand-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: lighter;
	font-size: 1.5em;
}

/* Main */
.main {
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1.5em 1.5em;
	max-width: 100%;
}

/*Solution*/
.clearfix::before,
.clearfix::after {
	display: table;
	content: " ";
}

/*Solution*/
.clearfix::after {
	clear: both;
}

.media {
	width: 50%;
	padding: 1.5em;
	background-color: #eee;
	border-radius: 0.5em;
	margin: 0 1.5em 1.5em 0;
	width: calc(50% - 1.5em);
	min-height: 225px;

	/*Solution*/
	float: left;
}

/*Solution*/
.media:nth-child(odd) {
	clear: left;
}

.media-body {
	margin-top: 0;

	/*Solution*/
	overflow: auto;
}

.media-body h4 {
	margin-top: 0;
}

.media-image {
	width: 100px;
	margin-right: 1.5em;

	/*Solution*/
	float: left;
}

.media-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 1rem;
	font-size: 1.1em;
	color: #0072b0;
}

.title {
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.team .media-title {
	margin-bottom: 0;
}

.team .media-lead {
	font-size: 0.75rem;
}

.team .media-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

/* Footer */
.footer {
	color: #fff;
	background-color: #57a7e7;
	padding: 15px 0;
	text-align: center;
	font-size: 14px;

	/*Solution*/
	clear: both;
}

.footer a {
	color: inherit;
	text-decoration: underline;
}



/*@media (min-width: 1200px) {
	.container {
	    max-width: 1140px;
	}
}*/